/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
* Global add-ons
*/

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
    border: 0;
}

/*
* Main content
*/

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.navbar-brand img {
    max-height: 35px;
    float: left;
    margin-top: -6px;
}

.navbar-brand img:hover{
    filter:brightness(150%);
}

.timeSlots .tr-Free:hover {
    background-color: #d7e6f4 !important;
}

.timeSlots tr {
}

.placeColumn::first-letter {
    text-transform: uppercase;
}

.tr-Reserved {
    background: repeating-linear-gradient(
        -45deg,
        #eee,
        #eee 5px,
        #e6e6e6 5px,
        #e6e6e6 10px
    );
    font-style: italic;
    color: #777;
}

.tr-Reserved td button {
    display: none;
}

.tr-not-logged-in td button {
    display: none;
}

.myReservation:hover {
    background-color: #d7e6f4 !important;
}

.login-text-and-button {
    margin-top: -2px;
}

#login-buttons-logout {
    margin-top: -6px;
    margin-bottom: -6px;
    background-color: #286090 !important;
    border: 1px solid #286090 !important;
}

#login-buttons-facebook {
    margin-top: -6px;
    margin-bottom: -6px;
    background-color: #286090 !important;
    border: 1px solid #286090 !important;
}
